<div class="latest-news">
    <div class="container">
      <div class="row">
        <div class="col-12 title-section">
          <h2 class="heading">Latest News</h2>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-md-4">
          <div class="post-entry">
            <a href="#">
              <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
            </a>
            <div class="caption">
              <div class="caption-inner">
                <h3 class="mb-3">Romolu to stay at Real Nadrid?</h3>
                <div class="author d-flex align-items-center">
                  <div class="img mb-2 mr-3">
                    <img src="assets/images/person_1.jpg" alt="">
                  </div>
                  <div class="text">
                    <h4>Mellissa Allison</h4>
                    <span>May 19, 2020  Sports</span>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="post-entry">
            <a href="#">
              <img src="assets/images/img_3.jpg" alt="Image" class="img-fluid">
            </a>
            <div class="caption">
              <div class="caption-inner">
                <h3 class="mb-3">Kai Nets Double To Secure Comfortable Away Win</h3>
                <div class="author d-flex align-items-center">
                  <div class="img mb-2 mr-3">
                    <img src="assets/images/person_1.jpg" alt="">
                  </div>
                  <div class="text">
                    <h4>Mellissa Allison</h4>
                    <span>May 19, 2020 Sports</span>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="post-entry">
            <a href="#">
              <img src="assets/images/img_2.jpg" alt="Image" class="img-fluid">
            </a>
            <div class="caption">
              <div class="caption-inner">
                <h3 class="mb-3">Dogba set for Juvendu return?</h3>
                <div class="author d-flex align-items-center">
                  <div class="img mb-2 mr-3">
                    <img src="assets/images/person_1.jpg" alt="">
                  </div>
                  <div class="text">
                    <h4>Mellissa Allison</h4>
                    <span>May 19, 2020  Sports</span>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>

    </div>
  </div>