
<div class="site-wrap">

   

    <div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-9 mx-auto text-center">
            <h1 class="text-white">{{title | uppercase}}</h1>
          </div>
        </div>
      </div>
    </div>

    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <form [formGroup]="addMatchForm">
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]=" findMatch.teamOne" formControlName="teamOne" placeholder="team One">
              </div>
              <div class="form-group">
                <input type="text" class="form-control"  [(ngModel)]=" findMatch.teamTwo" formControlName="teamTwo" placeholder="team Two">
              </div>
              <div class="form-group">
                <input type="text" class="form-control"  [(ngModel)]=" findMatch.scoreOne"  formControlName="scoreOne" placeholder="Score one">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]=" findMatch.scoreTwo" formControlName="scoreTwo" placeholder="Score two">
              </div>
             
              <div class="form-group">
                <button  class="btn btn-primary py-3 px-5" (click)="validateForm()" >{{title}}</button>
              </div>
            </form>  
          </div>
         
        </div>
      </div>
    </div>

  </div>